<%= form_for :pool, :url => :pools do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :location_name %><br>
    <%= f.text_field :location_name %>
  </p>

  <p>
    <%= f.label :location_address %><br>
    <%= f.text_field :location_address %>
  </p>

  <p>
    <%= f.label :start_date %><br>
    <%= datetime_field(:pool, :start_at) %>
  </p>

  <p>
    <%= f.label :end_date %><br>
    <%= datetime_field(:pool, :end_at) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>  