<%= form_for [@pool, @pool_profile] do |f| %>

  <p>
    <%= f.label :goals %><br>
    <%= f.text_area :goals, class: 'form-control' %>
  </p>

    <p>
    <%= f.label :skills %><br>
    <%= f.text_area :skills, class: 'form-control' %>
  </p>

 
  <p>
    <%= f.submit class: 'btn btn-primary btn-block' %>
  </p>
<% end %>  
