<% content_for :nav_left do %>
  <%= nav_item_events "left" %>
<% end %>
<% content_for :nav_right do %>
  <%= nav_item_chat "right" %>
<% end %>

<div id='chat-pod'>

<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 chat-container'>
      <div id='avatars'>
        <% @pod.users.each do |user| %>
          <%= image_tag user.avatar %>
        <% end %>
      </div>
      <div id='messages'>
        <!--
        <% @pod.messages.each do |m| %>
          <p>
          <span class='name'><%= m.user.name %></span>
          <span class='body'><%= m.text_body %></span>
          </p>
        <% end %>
        -->
      </div>

      <form id='message-form' role='role'>
        <div class='form-group'>
          <input type='text' class='form-control' id='message-body' placeholder='Message body'/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>

</div>

<script>

(function(global) {

  <% data = @pod.messages.reduce([]) do |array, m|
    array << {
      pod_id: m.id,
      user_id: m.user.id,
      name: m.user.name,
      text_body: m.text_body
    }
  end %>

  var eventAggregator = $('body');
  var data = {
    userName: '<%= current_user.name %>',
    podId: <%= @pod.id %>,
    messageData: <%= data.to_json.html_safe %>
  }
  var elements = {
    messages: $('#messages'),
    avatars: $('#avatars'),
    form: $('#message-form'),
    input: $('#message-form #message-body')
  }

  global.Skana = global.Skana || {};
  global.Skana.chat = chatService(eventAggregator, data, elements);
  global.Skana.chat.start();

  <% content_for :stop_chat_notifier do %>
    global.Skana.chatNotifier.clear();
    global.Skana.chatNotifier.stop();
  <% end %>

}(this));
</script>
